[Desktop Entry]
Name=Arabic Lexicons
Exec=/home/user/.local/arabic_lexicons/arabic_lexicons
Icon=/home/user/.local/arabic_lexicons/icon.png
Type=Application
Categories=Education;Dictionary
Terminal=false
StartupWMClass=io.github.wizsk.arabic_lexicons
